/* Auth.css */
/* body {
    background-color: #fef7f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  } 
   */
   .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 100px 0px 50px 0px;
    
  }
  
  .auth-box {
    background: white;
    /* padding: 2rem;  */
    
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px
  }

  .auth-box form {
  padding: 20px;
  }
  .auth-box form .auth-btn{
    /* margin-left: -80px; */
    }
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .auth-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff4a4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
  }
  
  .auth-btn:hover {
    background-color: #d93d3d;
  }
  
  p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  a {
    color: #ff4a4a;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: underline;
  }
   